$circle-size: 10vmin;

* {
  box-sizing: border-box;
  position: relative;
}
body {
  background: #222;
  overflow: hidden;
}
.circle {
  animation: spin 3s linear infinite both;
  background: #bada55;
  border-radius: 100vmax;
  /* margin:calc(50vh - 5vmin) calc(50vw - 1vmin); */ /* Half the longest viewport width minus half the width/height of the circle. */
  margin: 60vh calc(50vw - 1vmin);
  height: 10vmin;
  position: absolute;
  width: 10vmin;
}
.circle + .circle {
  animation: spin 3s linear 1s infinite both;
  background: #10aded;
}
.circle + .circle + .circle {
  animation: spin 3s linear 2s infinite both;
  background: #a991e5;
}
@keyframes spin {
  0% {
    transform: rotate(360deg) translate(0vmax, -10vmax);
  }
  50% {
    transform: rotate(180deg) translate(0vmax, 0vmax);
  }
  100% {
    transform: rotate(0deg) translate(0vmax, -10vmax);
  }
}
